 .container {
   width: 600px;
   margin: auto;
   border: 1px solid black;
   padding: 5px;
 }

 /* TEXT MENGELILINGI IMAGE */

 /* img {
   height: 300px;
   width: 300px;
   float: right;
 } */

 /* FLOAT BISA MEMBUAT SEJAJAR BERURUTAN */

 /* .kotak {
  height: 50px;
  width: 50px;
  background-color: salmon;
  float: right;
  margin: 5px;
} */


 /* MULTI KOLOM LAYOUT */

 .kiri {
   width: 150px;
   height: 600px;
   padding: 10px;
   background-color: salmon;
   float: left;

   /* supaya ketika dikasih padding tetap rapih */
   box-sizing: border-box;
 }

 .tengah {
   width: 300px;
   height: 600px;
   background-color: slateblue;
   float: left;
 }

 .kanan {
   width: 150px;
   height: 600px;
   background-color: seagreen;
   float: left;
 }

 /* membersihkan float pada boxnya, daripada menggunakan overflow */
 .clear {
   clear: left;
 }